 <hr />
      <footer>
        <p><a href="#" target="_blank">Jun</a> 2012</p>
      </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</html>
